{% extends 'base.html' %} {% load static %} {% block categ %}
<li class="nav-item dropdown mr-3 ml-3">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDropdown"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Categories
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% for category in categories %} {% if current_user %}
    <a
      class="dropdown-item"
     
      >{{ category.name }}
    </a>
    {% else %}
    <a
      class="dropdown-item"
      
      >{{ category.name }}
    </a>
    {% endif %} {% endfor %}
  </div>
</li>
{% endblock %} {% block content %}
<div class="container mb-2">
  <h2 class="mt-3">All Books</h2>
  <hr />
  <div class="row mt-4">
    {% for book in books %}
    <div class="col-4 mt-3">
      <div class="card" style="border-radius: 5px">
        <img
          class="card-img-top rounded-lg"
          src="/media/{{ book.thumbnail }}"
          width="300"
          height="250"
          alt="Card image cap"
          style="border-radius: 10%"
        />
        <div class="card-body">
          <h6 class="card-title text-primary">{{ book.title }}</h6>
          <p class="card-text">{{ book.description }}</p>
          <hr />
          {% if current_user %}
          <a
            href="{% url 'book:single' book_id=book.id user_id=current_user.id  %}"
            class="btn btn-outline-warning"
            >More Info</a
          >
          {% else %}
          <a
            href="{% url 'book:single' book.id %}"
            class="btn btn-outline-warning"
            >More Info</a
          >
          {% endif %}
        </div>
        <div class="card-footer">
          <b>Quantity:<span class="pl-3">{{ book.quantity }}</span></b>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
  "
>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if current_user %} {% if page_number > 1 %}
      <li class="page-item">
        <a
          class="page-link"
          href="{%url 'book:home' id=current_user.id page_number=prev_num%}"
          >Previous</a
        >
      </li>

      {% endif %}
      <li class="page-item">
        <a
          class="page-link"
          href="{%url 'book:home' id=current_user.id page_number=1%}"
          >1</a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="{%url 'book:home' id=current_user.id page_number=2%}"
          >2</a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="{%url 'book:home' id=current_user.id page_number=3%}"
          >3</a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="{%url 'book:home' id=current_user.id page_number=next_num%}"
          >Next</a
        >
      </li>
      {%else%} {% if page_number > 1 %}

      <li class="page-item">
        <a class="page-link" href="{%url 'book:home' page_number=prev_num%}"
          >Previous</a
        >
      </li>
      {% endif %}
      <li class="page-item">
        <a class="page-link" href="{%url 'book:home' page_number=1%}">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{%url 'book:home' page_number=2%}">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{%url 'book:home' page_number=3%}">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{%url 'book:home' page_number=next_num%}"
          >Next</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% endblock %}
