{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row mt-4">
    {% include 'menu.html' %}
    <div class="col-4 border bg-white">
      <h5 class="mt-3">Create User Account</h5>
      <hr />
      <form
        action="{%url 'account:add_user' user_id=current_user.id%}"
        method="post"
      >
        {% csrf_token %}
        <div class="mt-3">
          {{form.as_p}}
          <button type="submit" class="btn btn-danger w-100 font-weight-bold ">add</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
