{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row mt-4">
    {% include 'menu.html' %}
    <div class="col-4 border bg-white">
      <h5 class="mt-3">Edit Profile</h5>
      <hr />
      <form
        action="{% url 'account:edit' current_user.id %}"
        method="post"
        novalidate
      >
        {% csrf_token %} {{form.as_p}}
        <input
          class="btn btn-outline-warning w-100"
          type="submit"
          value="Edit"
        />
      </form>
    </div>
  </div>
</div>
{% endblock %}
