{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row mt-4">
    {% include 'menu.html' %}
    <div class="col-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>

            <td>
              <div class="btn-group" role="group">
                {% if not user.is_admin %}
                <form
                  action="{%url 'account:all_users' user_id=current_user.id del_id=user.id%}"
                  method="post"
                >
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-sm">
                    Del
                  </button>
                </form>

                {% endif %}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
